@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.write {
    width: 100%;
    height: 100vh;
}

.container {
   display: flex;
}

.image {
    width: 55%;
}

img {
    width: 70%;
    object-fit: fill;
    margin-left: 50%;
    transform: translate(-50%)
}

.contents {
    width: 45%;
    display: table;
}

.contents > .content {
    display: table-cell;
    vertical-align: middle;
    padding-right: 90px;
    font-family: 'S-CoreDream-3Light';
}

#title, .comments > #username {
    font-family: 'S-CoreDream-6Bold';
    font-size: 20px;
}

#date {
    color: gray;
    clear:both;
    float:left; 
    font-size: 14px; 
}

#button > a > button {
    border: 0;
    outline: 0;
    background-color: white;
    font-family: 'S-CoreDream-3Light';
    color: gray;
    font-size: 15px;
    float:right;
    cursor: pointer; 
}

.comments, .create_comments {
    width: 80%;
    align-self: center;
    margin-left: 50%;
    margin-top: 70px;
    transform: translate(-50%)
}

.comments > #comment_time, #delete_button > a {
    text-decoration: none;
    color: gray;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
}

#delete_button {
    clear:both;
    float:right;
}

.create_comments > form{
    width: 100%;
    height: 300px;
}

input {
    width: 85%;
    height: 100px;
}

#create_button > button {
    color: white;
    border: 0;
    background-color: black;
    width: 10%;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}

#create_button > button > img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

#comment {
    font-family: 'S-CoreDream-3Light';
}

#place {
    font-family: 'S-CoreDream-3Light';
    margin: 40px;
    font-size: 16px;
    color: black;
}

#place > p {
    font-family: 'S-CoreDream-9Black';
    margin-bottom: 0;
    margin-top: 100px;
    font-size: 20px;
}