{% extends 'base.html' %} {% load static %} {% block extrahead %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" >

{% endblock %} {% block title %}title{% endblock %} {% block content %}

<div class="main">
  <div class="wrapper">
    <img src="{%static 'images/main.jpg'%}" alt="" />
  </div>

  <h1>TOYPROJECT</h1>
</div>

<div class="create">
  <div class="create_write">
    <div class="create_btn">
      <a href="{% url 'main:create' %}">+ 글 작성하기</a>
    </div>
  </div>
</div>
<div class="write_wrapper">
  {% for write in all_write %}
  <a href="{% url 'main:detail' write.id %}">
    <div class="all_write">
      <div>{{write.id}}</div>
      <div>{{write.title}}</div>
      <div>{{write.contents}}</div>
      <div>{{write.updated_at|date:"Y.m.d"}}</div>
      {% if write.images %}
      <img src="{{write.images.url}}">
      {% endif %}
    </div>
  </a>
  {%endfor%}
</div>
<!-- 게시글(Write 클래스 필드) -->

<footer>
  <a href="mailto:">Contact Us</a>
</footer>

{% endblock %}