{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}

{% block title %}title{% endblock %}

{% block content %}

<div class="main">
    <div class="wrapper">
        <img src="{%static 'images/main.jpg'%}" alt="">
    </div>
    
    <h1>TOYPROJECT</h1>
</div>

<div class="all_write">
    <div>
            <!-- 게시글(Write 클래스 필드) -->
    </div>     
</div>

<footer>
    <a href="mailto:">Contact Us</a>
</footer>

{% endblock %}
