{% extends 'base.html' %} {% load static %} {% block extrahead %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" >

{% endblock %} {% block title %}title{% endblock %} {% block content %}

<div class="main">
  <div class="wrapper">
    <img src="{%static 'images/main.jpg'%}" alt="" />
  </div>

  <h1>TOYPROJECT</h1>
</div>

<div class="write_wrapper">
  {% for write in all_write %}
  <a href="{% url 'main:detail' write.id %}">
    <div class="all_write">
      <div class="contents">
        <div id="title">{{write.title}}</div>
        
        <hr noshade="" color="white" size="1.5">
        <div id="content">{{write.contents}}</div>
        <div id="date">{{write.updated_at|date:"Y.m.d"}}</div>
      </div>
      
      {% if write.images %}
      <img src="{{write.images.url}}">
      {% endif %}
    </div>
  </a>
  {%endfor%}
  
  <div class="create">
    <div class="create_write">
      <div class="create_btn">
        <button><a href="{% url 'main:create' %}">NEW POST</a></button>
      </div>
    </div>
  </div>
  <footer>
    <a href="mailto:">Contact Us</a>
  </footer>
</div>


{% endblock %}