{% extends 'base.html' %} 
{% load static %} 

{% block extrahead %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %} 

{% block title %}login{% endblock %}

{% block content %}
<div class="login">
   <div class="container">
    <h1>Welcome!</h1>
    <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" name="username"><br>

        <label for="password">Password</label><br>
        <input type="password" name="password">

        <button type="submit">LOGIN</button>
    </form>
</div> 
</div>

{% endblock %}